

/*
 * The MIT License
 *
 * Copyright 2015 Richie.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

/* 
    Created on : 01-Aug-2015, 18:10:50
    Author     : Richie
*/

.center{
    text-align: center;
    vertical-align: middle;
}

h2{
    padding-top: 10px;
}

table, tr, td, th{
    padding-right: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
   background-color: activeborder; 
}
tr:nth-child(odd){
    background-color: aliceblue;
}
tr:nth-child(even){
    background-color: #a3fdfd;
}

#table-div{
}

#nameheader{
    width: 250px;
    text-align: center;
    vertical-align: middle;
}

#new-item-div {
    padding-bottom: 10px;
    background-color: activecaption;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
input:text{
    width: 35%;
}
